.promo__wrap {
  width: 1017px;
  margin: 30px auto;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

.promo__text {
  padding: 18px 50px;
  font-size: 23px;
  line-height: 36px;
  font-style: italic;
  text-align: center;
}

.promo__span {
  color: #82699d;
  font-weight: 600;
}
